.clicked {
    background-color: #B0AE96;
}

body {
    overflow: hidden;
}


.bar {
    overflow: auto;
    background-color: #B07C5A;
}


.bar .buttonelement {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 2;
}


.dropdown {
    float: left;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0
}


.bar .buttonelement:hover, .dropdownelement:hover, .dropdown:hover .dropbtn {
    background-color: #C0A78D;
}


.dropdowns {
    display: none;
    background-color: #f9f9f9;
    z-index: 2;
}


.dropdowns .dropdownelement {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdowns {
    display: block;
    position: absolute;
}


#map {
    height: 90vh;
    z-index: 1;
}
